.park-page {
    padding-top: 1.5rem;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-park);
}

.park-page-wrapper {
    text-align: center;
}

.park-description-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.park-description {
    font-size: 1.2em;
    color: #333;
    max-width: 600px;
    margin: 0 auto;
    font-weight: bold;
    padding: 0.5em;
}

.section-divider {
    margin: 2em auto;
    width: 80%;
    height: 3px;
    background-color: #333;
    border-radius: 10px;
}

.park-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    width: min(1100px, 100%);
    padding: 0 1em 3em;
    margin: 2em auto 0;
}

@media (max-width: 950px) {
    .park-cards-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1em 3em;
        margin: 2em auto 0;
    }
}

@media (max-width: 650px) {
    .park-cards-grid {
        grid-template-columns: 1fr;
        padding: 0 1em 2em;
        margin: 2em auto 0;
    }

    .park-description {
        font-size: 1em;
        max-width: 90%;
    }
}